#articleCardSection {
  height: 85vh;
  overflow: auto;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  #articleCardSection {
    overflow: auto;
  }
}

#articleCard:hover {
  background-color: whitesmoke;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#articleDiv {
  height: 100vh;
}
