#articleSection {
  height: 100vh;
  overflow: auto;
}

#articleSection {
  margin: 0.5em;
}

#articleSection h3 {
  font-size: 1.1em;
}

.articleDivider {
  padding: 1rem;
  margin: 1rem 0;
  border-bottom: 0.05rem solid rgb(216, 216, 216);
}

@media only screen and (max-width: 600px) {
  #articleSection {
    overflow: visible;
  }
}
