.col-8 {
	height: 100vh;
	overflow: auto;
}

.article {
	margin: 0.5em;
}

.article h3 {
	font-size: 1.1em;
}

.articleDivider {
	padding: 1rem;
	margin: 1rem 0;
	border-bottom: 0.05rem solid rgb(216, 216, 216);
}
