div {
	justify-content: center;
}

.fa-user-circle-o {
	justify-content: center;
}

/* .col-4 {
	background-color: whitesmoke;
} */

#splitBtnRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown-menu {
	height: 80vh;
	overflow: auto;
	text-align: center;
}

.fa-plus-circle {
	color: rgb(56, 119, 255);
}
/* 
div .addPost {
	padding: 5rem 1rem;
} */

.addPost {
	display: none;
}

#userLink {
	margin-bottom: 0.5rem;
}

#homeLink {
	margin-bottom: 0.5rem;
}

#usersLink {
	margin-bottom: 0.5rem;
}

#profile {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	max-width: 250px;
	margin: auto;
}

#user {
	margin: auto;
}

.avatarImg {
	max-width: 100px;
}

@media only screen and (max-width: 600px) {
	.col-4 {
		min-width: 90px;
	}
}

@media (min-width: 600px) {
	.container {
		max-width: none;
	}
}
