div {
	justify-content: center;
}

.fa-user-circle-o {
	justify-content: center;
}

/* .col-4 {
	background-color: whitesmoke;
} */

#splitBtnRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown-menu {
	height: 80vh;
	overflow: auto;
}

.fa-plus-circle {
	color: rgb(56, 119, 255);
}

div .addPost {
	padding: 5rem 1rem;
}

.addPost {
	display: none;
}

#userLink {
	margin-bottom: 1rem;
}

#homeLink {
	margin-bottom: 1rem;
}

#usersLink {
	margin-bottom: 1rem;
}

#profile {
	padding: 1rem;
	margin-top: 0.5rem;
}
