.col-4 {
	background-color: azure;
}

ul {
	list-style-type: none;
}

#navbar div a {
	margin: 1em auto 1em auto;
}

#navbar ul div {
	margin: auto 30%;
}

#profile {
	height: 10vh;
	margin: 1em;
}

#splitBtnRow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.dropdown-menu {
	height: 80vh;
	overflow: auto;
}
