html,
body {
	margin: 0;
}

.App {
	text-align: center;
}

.container {
	padding: 0;
	margin: auto;
}

.col {
	padding: 0;
}
.row {
	margin: 0;
}

ul {
	padding: 0;
}

p {
	margin: auto;
}

.col-4,
.col-8 {
	padding: 0;
}

#navbar {
	height: 100vh;
	border-right: 1px solid grey;
}

ul {
	list-style-type: none;
}
