html,
body {
	margin: 0;
}

.App {
	text-align: center;
}

.container {
	margin: 0;
	padding: 0;
}

.col {
	padding: 0;
}
.row {
	margin: 0;
}

p {
	margin: auto;
}

.col-4,
.col-8 {
	padding: 0;
}

#navbar {
	height: 100vh;
	border: 1px solid red;
}
